APP_NAME=TravelMate
APP_ENV=production
APP_KEY=GENERATE_DENGAN_php_artisan_key_generate_show
APP_DEBUG=false
APP_URL=https://NAMA-BACKEND.onrender.com
FRONTEND_URL=https://NAMA-FRONTEND.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=HOST_AIVEN
DB_PORT=PORT_AIVEN
DB_DATABASE=defaultdb
DB_USERNAME=USER_AIVEN
DB_PASSWORD=PASSWORD_AIVEN
MYSQL_ATTR_SSL_CA=/etc/secrets/ca.pem

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
MAIL_MAILER=log
